In [1]:
import pandas as pd
import bokeh
import numpy as np

In [2]:
df = pd.read_csv('NFLPlaybyPlay2015.csv')

C:\Users\kcasado.CARSDIRECT\AppData\Local\Continuum\Anaconda2(1)\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,Accepted.Penalty,PenalizedTeam,PenaltyType,PenalizedPlayer,Penalty.Yards,PosTeamScore,DefTeamScore,ScoreDiff,AbsScoreDiff,Season
0,36,2015-09-10,2015091000,1,1,NaN,15:00,15,3600.0,0.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
1,51,2015-09-10,2015091000,1,1,1.0,15:00,15,3600.0,0.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
2,72,2015-09-10,2015091000,1,1,1.0,14:21,15,3561.0,39.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
3,101,2015-09-10,2015091000,1,1,2.0,14:04,15,3544.0,17.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
4,122,2015-09-10,2015091000,1,1,1.0,13:26,14,3506.0,38.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015

In [5]:
df.groupby('GameID').Drive.count().describe()

count    256.000000
mean     180.191406
std       13.900997
min      146.000000
25%      170.000000
50%      180.000000
75%      189.000000
max      219.000000
Name: Drive, dtype: float64

In [7]:
working_df.columns.values

array(['Unnamed: 0', 'Date', 'GameID', 'Drive', 'qtr', 'down', 'time',
       'TimeUnder', 'TimeSecs', 'PlayTimeDiff', 'SideofField', 'yrdln',
       'yrdline100', 'ydstogo', 'ydsnet', 'GoalToGo', 'FirstDown',
       'posteam', 'DefensiveTeam', 'desc', 'PlayAttempted', 'Yards.Gained',
       'sp', 'Touchdown', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint',
       'Safety', 'PuntResult', 'PlayType', 'Passer', 'PassAttempt',
       'PassOutcome', 'PassLength', 'PassLocation', 'InterceptionThrown',
       'Interceptor', 'Rusher', 'RushAttempt', 'RunLocation', 'RunGap',
       'Receiver', 'Reception', 'ReturnResult', 'Returner',
       'BlockingPlayer', 'Tackler1', 'Tackler2', 'FieldGoalResult',
       'FieldGoalDistance', 'Fumble', 'RecFumbTeam', 'RecFumbPlayer',
       'Sack', 'Challenge.Replay', 'ChalReplayResult', 'Accepted.Penalty',
       'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer', 'Penalty.Yards',
       'PosTeamScore', 'DefTeamScore', 'ScoreDiff', 'AbsScoreDiff',
       'Season'], dtype=object)

In [5]:
working_df = df[df.PlayType.isin(['Pass','Run','Sack','QB Kneel'])]

In [9]:
working_df.is_run = working_df.PlayType.apply(lambda x: x in(['Run','QB Kneel']))

In [10]:
working_df.is_pass = working_df.PlayType.apply(lambda x: x in ['Pass','Sack'])

In [22]:
def winning_tied_losing(x):
    if x >0:
        return 0
    elif x==0:
        return 1
    else:
        return 2

In [24]:
working_df.score_status = working_df.ScoreDiff.apply(lambda x: winning_tied_losing(x))

In [11]:
working_df.is_pass.value_counts()

True     19514
False    13534
Name: PlayType, dtype: int64

In [16]:
working_df.is_run.value_counts()

False    19514
True     13534
Name: PlayType, dtype: int64

In [26]:
FEATURE_LIST = ['Drive','down','TimeSecs','qtr','yrdline100','ydstogo','ydsnet','GoalToGo','FirstDown','PassAttempt','PassOutcome'
               ,'RushAttempt','RunLocation','ScoreDiff']
LABEL_LIST = ['is_run','is_pass']

In [27]:
SERIES_LEN = 12

In [25]:
def pad_features(df):
    game_features = np.array(len(df))
    for x in range(len(df)):
        series = np.zeros(SERIES_LEN,len(FEATURE_LIST))
        for idx, x in enumerate(df.itterrows()[max(0,x-12):x]):
            series[11-idx] = x
        game_features.append(series)
    
    return game_features

In [ ]:
def extract_features(df):
    np.zeros((NUM_FEATURES,len(df.groupby('Date')))
    working_df = df.copy()
    working_df = working_df.sort_values(['Date','qtr','Drive'])
    
    working_df.groupby('Date').apply(lambda x: pad_features(x))

In [10]:
df.PlayType.value_counts()

Pass                  18323
Run                   13109
No Play                2608
Kickoff                2565
Punt                   2443
Timeout                1859
Sack                   1191
Extra Point            1126
Field Goal              988
Quarter End             675
Two Minute Warning      481
QB Kneel                425
End of Game             211
Onside Kick              67
Spike                    52
Half End                  6
Name: PlayType, dtype: int64

In [21]:
df.InterceptionThrown.value_counts()

0    32182
1      441
Name: InterceptionThrown, dtype: int64

In [23]:
df[df.InterceptionThrown==1].PlayType.value_counts()

Pass    441
Name: PlayType, dtype: int64

In [18]:
df[df['posteam']=='STL'].PlayType.value_counts()

Pass    473
Run     418
Sack     18
Name: PlayType, dtype: int64

In [4]:
df.columns.values

array(['Unnamed: 0', 'Date', 'GameID', 'Drive', 'qtr', 'down', 'time',
       'TimeUnder', 'TimeSecs', 'PlayTimeDiff', 'SideofField', 'yrdln',
       'yrdline100', 'ydstogo', 'ydsnet', 'GoalToGo', 'FirstDown',
       'posteam', 'DefensiveTeam', 'desc', 'PlayAttempted', 'Yards.Gained',
       'sp', 'Touchdown', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint',
       'Safety', 'PuntResult', 'PlayType', 'Passer', 'PassAttempt',
       'PassOutcome', 'PassLength', 'PassLocation', 'InterceptionThrown',
       'Interceptor', 'Rusher', 'RushAttempt', 'RunLocation', 'RunGap',
       'Receiver', 'Reception', 'ReturnResult', 'Returner',
       'BlockingPlayer', 'Tackler1', 'Tackler2', 'FieldGoalResult',
       'FieldGoalDistance', 'Fumble', 'RecFumbTeam', 'RecFumbPlayer',
       'Sack', 'Challenge.Replay', 'ChalReplayResult', 'Accepted.Penalty',
       'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer', 'Penalty.Yards',
       'PosTeamScore', 'DefTeamScore', 'ScoreDiff', 'AbsScoreDiff',
       'Season'], dtype=object)

In [117]:
df[(df.PlayType!='No Play') & (df.PenalizedTeam.notnull())].values[0]

array([305L, '2015-09-10', 2015091000L, 2L, 1L, 1.0, '09:40', 10L, 3280.0,
       4.0, 'NE', 34.0, 66.0, 10L, 10L, 0.0, 1.0, 'NE', 'PIT',
       '(9:40) (Shotgun) T.Brady pass short left to J.Edelman pushed ob at NE 47 for 13 yards (W.Gay). PENALTY on NE-N.Solder, Unnecessary Roughness, 15 yards, enforced between downs.',
       1L, 13L, 0L, 0L, nan, nan, nan, 0L, nan, 'Pass', 'T.Brady', 1L,
       'Complete', 'Short', 'left', 0L, nan, nan, 0L, nan, nan,
       'J.Edelman', 1L, nan, nan, nan, 'W.Gay', nan, nan, nan, 0L, nan,
       nan, 0L, 0L, nan, 1L, 'NE', nan, 'N.Solder', 15L, 0.0, 0.0, 0.0,
       0.0, 2015L], dtype=object)

In [147]:
rams = df[df['posteam']=='STL']

In [148]:
rams = rams.sort_values(['Date','qtr','Drive'])

In [149]:
rams

,Unnamed: 0,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,Accepted.Penalty,PenalizedTeam,PenaltyType,PenalizedPlayer,Penalty.Yards,PosTeamScore,DefTeamScore,ScoreDiff,AbsScoreDiff,Season
1251,37611,2015-09-13,2015091301,2,1,1.0,06:51,7,3111.0,7.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
1252,404,2015-09-13,2015091301,2,1,2.0,06:16,7,3076.0,35.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
1253,425,2015-09-13,2015091301,2,1,3.0,05:34,6,3034.0,42.0,...,1,STL,False Start,J.Brown,0,0.0,0.0,0.0,0.0,2015
1254,4489,2015-09-13,2015091301,2,1,3.0,05:18,6,3018.0,16.0,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
1255,469,2015-09-13,2015091301,2,1,4.0,04:45,5,2985.0,33.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1256,510,2015-09-13,2015091301,3,1,NaN,04:31,5,2971.0,14.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1257,529,2015-09-13,2015091301,3,1,1.0,04:31,5,2971.0,0.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1258,553,2015-09-13,2015091301,3,1,1.0,03:57,4,2937.0,34.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1259,574,2015-09-13,2015091301,3,1,2.0,03:20,4,2900.0,37.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1260,593,2015-09-13,2015091301,3,1,3.0,02:40,3,2860.0,40.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1261,617,2015-09-13,2015091301,3,1,1.0,01:57,2,2817.0,43.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1262,639,2015-09-13,2015091301,3,1,2.0,01:48,2,2808.0,9.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1263,663,2015-09-13,2015091301,3,1,1.0,01:04,2,2764.0,44.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1264,684,2015-09-13,2015091301,3,1,2.0,00:22,1,2722.0,42.0,...,0,NaN,NaN,NaN,0,0.0,6.0,-6.0,6.0,2015
1266,729,2015-09-13,2015091301,3,2,1.0,15:00,15,2700.0,0.0,...,0,NaN,NaN,NaN,0,6.0,6.0,0.0,0.0,2015
1267,7501,2015-09-13,2015091301,3,2,NaN,14:55,15,2695.0,5.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1276,959,2015-09-13,2015091301,5,2,1.0,11:10,12,2470.0,10.0,...,1,SEA,Defensive Offside,M.Bennett,5,7.0,6.0,1.0,1.0,2015
1277,991,2015-09-13,2015091301,5,2,1.0,10:46,11,2446.0,24.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1278,10121,2015-09-13,2015091301,5,2,2.0,10:13,11,2413.0,33.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1279,1033,2015-09-13,2015091301,5,2,1.0,09:36,10,2376.0,37.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1280,10541,2015-09-13,2015091301,5,2,2.0,08:53,9,2333.0,43.0,...,1,STL,NaN,G.Robinson,10,7.0,6.0,1.0,1.0,2015
1281,1090,2015-09-13,2015091301,5,2,2.0,08:23,9,2303.0,30.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1282,1112,2015-09-13,2015091301,5,2,3.0,08:15,9,2295.0,8.0,...,0,NaN,NaN,NaN,0,7.0,6.0,1.0,1.0,2015
1283,1136,2015-09-13,2015091301,5,2,4.0,07:34,8,2254.0,41.0,...,0,NaN,NaN,NaN,0,10.0,6.0,4.0,4.0,2015
1294,1397,2015-09-13,2015091301,7,2,1.0,02:56,3,1976.0,10.0,...,0,NaN,NaN,NaN,0,10.0,6.0,4.0,4.0,2015
1295,1418,2015-09-13,2015091301,7,2,2.0,02:22,3,1942.0,34.0,...,0,NaN,NaN,NaN,0,10.0,6.0,4.0,4.0,2015
1297,1459,2015-09-13,2015091301,7,2,3.0,02:00,2,1920.0,0.0,...,0,NaN,NaN,NaN,0,10.0,6.0,4.0,4.0,2015
1298,1481,2015-09-13,2015091301,7,2,4.0,01:56,2,1916.0,4.0,...,0,NaN,NaN,NaN,0,10.0,6.0,4.0,4.0,2015
1312,18131,2015-09-13,2015091301,9,3,NaN,15:00,15,1800.0,4.0,...,0,NaN,NaN,NaN,0,10.0,9.0,1.0,1.0,2015
1313,1835,2015-09-13,2015091301,9,3,1.0,14:54,15,1794.0,6.0,...,0,NaN,NaN,NaN,0,10.0,9.0,1.0,1.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45875,296017,2016-01-03,2016010315,16,3,3.0,01:23,2,983.0,20.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45876,298312,2016-01-03,2016010315,16,3,4.0,01:18,2,978.0,5.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45888,327716,2016-01-03,2016010315,18,4,1.0,12:39,13,759.0,6.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45889,330115,2016-01-03,2016010315,18,4,1.0,12:01,13,721.0,38.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45890,33263,2016-01-03,2016010315,18,4,2.0,11:20,12,680.0,41.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45891,33475,2016-01-03,2016010315,18,4,3.0,10:38,11,638.0,42.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45892,336915,2016-01-03,2016010315,18,4,4.0,10:35,11,635.0,3.0,...,1,STL,Delay of Game,J.Hekker,5,16.0,13.0,3.0,3.0,2015
45893,339615,2016-01-03,2016010315,18,4,4.0,10:31,11,631.0,4.0,...,0,NaN,NaN,NaN,0,16.0,13.0,3.0,3.0,2015
45908,375711,2016-01-03,2016010315,20,4,NaN,04:28,5,268.0,5.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45909,378510,2016-01-03,2016010315,20,4,1.0,04:21,5,261.0,7.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45910,380613,2016-01-03,2016010315,20,4,2.0,03:44,4,224.0,37.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45911,383013,2016-01-03,2016010315,20,4,3.0,03:04,4,184.0,40.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45912,38568,2016-01-03,2016010315,20,4,4.0,02:54,3,174.0,10.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45922,407412,2016-01-03,2016010315,22,4,1.0,01:32,2,92.0,7.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45923,40982,2016-01-03,2016010315,22,4,1.0,01:07,2,67.0,25.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45924,41245,2016-01-03,2016010315,22,4,2.0,01:02,2,62.0,5.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45926,416310,2016-01-03,2016010315,22,4,3.0,00:57,1,57.0,0.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45928,42024,2016-01-03,2016010315,22,4,4.0,00:52,1,52.0,0.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45944,45733,2016-01-03,2016010315,25,5,1.0,12:03,13,-177.0,9.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45945,46022,2016-01-03,2016010315,25,5,2.0,11:55,12,-185.0,8.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45946,46232,2016-01-03,2016010315,25,5,1.0,11:16,12,-224.0,39.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45947,46443,2016-01-03,2016010315,25,5,2.0,10:39,11,-261.0,37.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45948,4668,2016-01-03,2016010315,25,5,3.0,09:59,10,-301.0,40.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45949,46902,2016-01-03,2016010315,25,5,1.0,09:17,10,-343.0,42.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45950,4719,2016-01-03,2016010315,25,5,1.0,08:31,9,-389.0,46.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45951,47452,2016-01-03,2016010315,25,5,2.0,07:49,8,-431.0,42.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45952,4769,2016-01-03,2016010315,25,5,1.0,07:07,8,-473.0,42.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45953,4794,2016-01-03,2016010315,25,5,2.0,06:23,7,-517.0,44.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45954,4815,2016-01-03,2016010315,25,5,3.0,05:40,6,-560.0,43.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015
45955,4836,2016-01-03,2016010315,25,5,4.0,05:00,5,-600.0,40.0,...,0,NaN,NaN,NaN,0,16.0,16.0,0.0,0.0,2015

In [151]:
rams = rams[rams.PuntResult.isnull()]

In [153]:
rams.sort_values(['Date','qtr','Drive']).shape

(1132, 66)

In [155]:
df[df['Sack']==1]['DefensiveTeam'].value_counts()

DEN    55
NE     53
PIT    50
KC     50
CAR    47
HOU    47
CIN    45
DET    44
MIN    43
GB     43
NYJ    42
STL    41
TEN    41
TB     41
ARI    41
BAL    40
WAS    40
SEA    39
OAK    39
PHI    39
CHI    38
JAC    38
IND    37
MIA    36
SD     36
NO     34
DAL    33
SF     32
CLE    30
NYG    27
BUF    23
ATL    20
Name: DefensiveTeam, dtype: int64

In [7]:
df.columns.values

array(['Unnamed: 0', 'Date', 'GameID', 'Drive', 'qtr', 'down', 'time',
       'TimeUnder', 'TimeSecs', 'PlayTimeDiff', 'SideofField', 'yrdln',
       'yrdline100', 'ydstogo', 'ydsnet', 'GoalToGo', 'FirstDown',
       'posteam', 'DefensiveTeam', 'desc', 'PlayAttempted', 'Yards.Gained',
       'sp', 'Touchdown', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint',
       'Safety', 'PuntResult', 'PlayType', 'Passer', 'PassAttempt',
       'PassOutcome', 'PassLength', 'PassLocation', 'InterceptionThrown',
       'Interceptor', 'Rusher', 'RushAttempt', 'RunLocation', 'RunGap',
       'Receiver', 'Reception', 'ReturnResult', 'Returner',
       'BlockingPlayer', 'Tackler1', 'Tackler2', 'FieldGoalResult',
       'FieldGoalDistance', 'Fumble', 'RecFumbTeam', 'RecFumbPlayer',
       'Sack', 'Challenge.Replay', 'ChalReplayResult', 'Accepted.Penalty',
       'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer', 'Penalty.Yards',
       'PosTeamScore', 'DefTeamScore', 'ScoreDiff', 'AbsScoreDiff',
       'Season'], dtype=object)